@model ECV.Models.SiteAyar


<!--person's titles-->
<div class='front-person-titles'>

    <!--title1-->
    <span class='t1'>
        @Model.ozellik1
    </span>
    <!--/title1-->
    <!--title2-->
    <span class='t2'>
        @Model.ozellik2

    </span>
    <!--/title2-->
    <!--title3-->
    <span class='t3'>
        @Model.ozellik3
    </span>
    <!--/title3-->

</div>
<!--/person's titles-->
