
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

@section Baslik{ HİZMET DÜZENLE }
@section sitemap{HİZMET DÜZENLE }
@section title{HİZMET DÜZENLE}
@model ECV.Models.Hizmetler


<div class="col-md-12">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">HİZMET DÜZENLE</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @using (Html.BeginForm("Duzenle", "Hizmet", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
            {@Html.HiddenFor(m => m.HID)
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">İCON</label>
                        <input type="text" class="form-control" id="icon" name="icon" value="@Model.icon" placeholder="Sayfa Baslik">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">BAŞLIK</label>
                        <input type="text" class="form-control" id="baslik" name="baslik" value="@Model.baslik" placeholder="Ad Soyad">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">AÇIKLAMA</label>
                        <input type="text" class="form-control" id="aciklama" name="aciklama" value="@Model.aciklama" placeholder="Doğum Yılı">
                    </div>
                </div>
                <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

