
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
@section Baslik{ ANASAYFA  }
@section sitemap{ANASAYFA  }
@section title{ANASAYFA }

    <div class="container-fluid">
        <h5 class="mb-2">Özgeçmiş Ayarları</h5>
        <div class="row">


            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <a href="/CV/EgitimEkle" class="info-box-icon bg-info"><i class="fas fa-graduation-cap"></i></a>

                    <div class="info-box-content">
                        <span class="info-box-text">Eğitim</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <a href="/CV/DeneyimEkle" class="info-box-icon bg-info"><i class="fas fa-briefcase"></i></a>

                    <div class="info-box-content">
                        <span class="info-box-text">Deneyim</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <a href="/CV/YetenekEkle" class="info-box-icon bg-info"><i class="fas fa-star"></i></a>

                    <div class="info-box-content">
                        <span class="info-box-text">Yetenek</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <a href="/CV/HobiEkle" class="info-box-icon bg-info"><i class="fas fa-swimmer"></i></a>

                    <div class="info-box-content">
                        <span class="info-box-text">Hobi</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

<div class="container-fluid">
    <h5 class="mb-2">Portfoy Ayarları</h5>
    <div class="row">


        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Portfoy/pKategoriEkle" class="info-box-icon bg-danger"><i class="fas fa-images"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Portfoy Kategori</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Portfoy/PortfoyEkle" class="info-box-icon bg-danger"><i class="fas fa-image"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Portfoy</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
       
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<div class="container-fluid">
    <h5 class="mb-2">Blog Ayarları</h5>
    <div class="row">


        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Blog/bKategoriEkle" class="info-box-icon bg-warning"><i class="fas fa-blog"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Blog Kategori</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Blog/BlogEkle" class="info-box-icon bg-warning"><i class="fas fa-blog"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Blog</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->


<div class="container-fluid">
    <h5 class="mb-2">Diğer Ayarlar</h5>
    <div class="row">


        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Hizmet/Ekle" class="info-box-icon bg-success"><i class="far fa-plus-square"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Hizmet</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Diger/SosyalEkle" class="info-box-icon bg-success"><i class="fas fa-hashtag"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Sosyal Medya</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Diger/YorumEkle" class="info-box-icon bg-success"><i class="nav-icon fas fa-book"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Yorum</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Diger/SurecDuzenle" class="info-box-icon bg-success"><i class="nav-icon fas fa-table"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Süreç</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<div class="container-fluid">
    <h5 class="mb-2">Etkileşim Ayarlar</h5>
    <div class="row">


        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Mesaj/MesajListe" class="info-box-icon bg-info"><i class="nav-icon far fa-envelope"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Gelen Mesaj</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Admin/SifreDegistir" class="info-box-icon bg-info"><i class="nav-icon far fa-edit"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Şifre Değiştir</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/Diger/SiteAyar" class="info-box-icon bg-info"><i class="nav-icon fas fa-cogs"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Site Ayar</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <a href="/CV/EgitimEkle" class="info-box-icon bg-info"><i class="nav-icon fas fa-table"></i></a>

                <div class="info-box-content">
                    <span class="info-box-text">Süreç</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<iframe frameborder="0" scrolling="auto" height="195" width="555" allowtransparency="true" marginwidth="0" marginheight="0" src="https://sslfxrates.forexprostools.com/index_exchange.php?params&inner-border-color=%231b9415&border-color=%231b5ed1&bg1=%23F6F6F6&bg2=%23ffffff&inner-text-color=%23000000&currency-name-color=%23d61717&header-text-color=%23FFFFFF&force_lang=10" align="center"></iframe><br /><div style="width:540px"><a href="http://tr.investing.com" target="_blank"><img src="https://wmt-invdn-com.akamaized.net/forexpros_tr_logo.png" alt="Investing.com" title="Investing.com" style="float:left" /></a><span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;">Döviz Kurları <a href="https://tr.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com Türkiye</a> tarafından sağlanmaktadır.</span></span></div>