USE [eCV]
GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[YID] [int] IDENTITY(1,1) NOT NULL,
	[adSoyad] [nvarchar](150) NULL,
	[yorum] [nvarchar](max) NULL,
	[unvan] [nvarchar](50) NULL,
 CONSTRAINT [PK_Yorum] PRIMARY KEY CLUSTERED 
(
	[YID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Yorum] ON
INSERT [dbo].[Yorum] ([YID], [adSoyad], [yorum], [unvan]) VALUES (6, N'Hakkı AYDIN', N'Profesyonel ve Titiz Calışıldı,Tavsiye Ediyorum', N'Zala Bahçe Yönetici')
SET IDENTITY_INSERT [dbo].[Yorum] OFF
/****** Object:  Table [dbo].[Yetenekler]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetenekler](
	[YID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](150) NULL,
	[yüzde] [nvarchar](50) NULL,
 CONSTRAINT [PK_Yetenekler] PRIMARY KEY CLUSTERED 
(
	[YID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Yetenekler] ON
INSERT [dbo].[Yetenekler] ([YID], [adi], [yüzde]) VALUES (11, N'PHP', N'20')
INSERT [dbo].[Yetenekler] ([YID], [adi], [yüzde]) VALUES (12, N'C#', N'50')
INSERT [dbo].[Yetenekler] ([YID], [adi], [yüzde]) VALUES (13, N'MYSQL', N'40')
SET IDENTITY_INSERT [dbo].[Yetenekler] OFF
/****** Object:  Table [dbo].[Surec]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surec](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](150) NULL,
	[aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Surec] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Surec] ON
INSERT [dbo].[Surec] ([SID], [baslik], [aciklama]) VALUES (1, N'1', N'1')
INSERT [dbo].[Surec] ([SID], [baslik], [aciklama]) VALUES (2, N'2', N'2')
INSERT [dbo].[Surec] ([SID], [baslik], [aciklama]) VALUES (3, N'3', N'3')
SET IDENTITY_INSERT [dbo].[Surec] OFF
/****** Object:  Table [dbo].[Sosyal]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sosyal](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[icon] [nvarchar](50) NULL,
	[link] [nvarchar](150) NULL,
 CONSTRAINT [PK_Sosyal] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sosyal] ON
INSERT [dbo].[Sosyal] ([SID], [icon], [link]) VALUES (8, N'linkedin', N'https://www.linkedin.com/in/yasin-sar%C4%B1ca-85231a92/')
INSERT [dbo].[Sosyal] ([SID], [icon], [link]) VALUES (9, N'instagram', N'https://www.instagram.com/saricayasin/')
INSERT [dbo].[Sosyal] ([SID], [icon], [link]) VALUES (10, N'whatsapp', N'https://wa.me/905319574200')
SET IDENTITY_INSERT [dbo].[Sosyal] OFF
/****** Object:  Table [dbo].[SiteAyar]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteAyar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NULL,
	[aciklama] [nvarchar](450) NULL,
	[keywords] [nvarchar](max) NULL,
	[anarenk] [nvarchar](50) NULL,
	[ararenk] [nvarchar](50) NULL,
	[ozellik1] [nvarchar](50) NULL,
	[ozellik2] [nvarchar](50) NULL,
	[ozellik3] [nvarchar](50) NULL,
	[blog] [nvarchar](max) NULL,
	[hizmet] [nvarchar](max) NULL,
	[portfoy] [nvarchar](max) NULL,
	[iletisim] [nvarchar](max) NULL,
 CONSTRAINT [PK_SiteAyar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SiteAyar] ON
INSERT [dbo].[SiteAyar] ([ID], [title], [aciklama], [keywords], [anarenk], [ararenk], [ozellik1], [ozellik2], [ozellik3], [blog], [hizmet], [portfoy], [iletisim]) VALUES (1, N'Yasin SARICA | Kişisel Web Sitesi', N'Yasin SARICA Kişisel Web Sitesi', N'yasin,sarica,yasinsarica,freelancer,web sitesi,web tasarım,otomasyon,yazılım,takip sistemi,logo tasarım,broşür', N'turkuaz', NULL, N'FREELANCER', N'TASARIM', N'YAZILIM', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SiteAyar] OFF
/****** Object:  Table [dbo].[PortfoyKategori]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfoyKategori](
	[PKID] [int] IDENTITY(1,1) NOT NULL,
	[kategoriAdi] [nvarchar](150) NULL,
 CONSTRAINT [PK_PortfoyKategori] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PortfoyKategori] ON
INSERT [dbo].[PortfoyKategori] ([PKID], [kategoriAdi]) VALUES (5, N'WEB SİTESİ')
SET IDENTITY_INSERT [dbo].[PortfoyKategori] OFF
/****** Object:  Table [dbo].[Portfoy]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfoy](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[kategori] [nvarchar](150) NULL,
	[resim] [nvarchar](150) NULL,
	[kime] [nvarchar](150) NULL,
	[tarih] [nvarchar](150) NULL,
	[süre] [nvarchar](50) NULL,
	[aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Portfoy] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Portfoy] ON
INSERT [dbo].[Portfoy] ([PID], [kategori], [resim], [kime], [tarih], [süre], [aciklama]) VALUES (13, N'WEB SİTESİ', N'/Resim/90b3063b-a01d-4bed-a685-f813e754406f.PNG', N'ZALA BAHÇE RESTORAN', N'14 Ocak 2020 Salı', N'3 AY', N'<ul><li>MOBİL UYUMLU WEB SİTE TASARIMI</li><li>LOGO TASARIMI</li><li>REZERVASYON SİSTEMİ</li><li>MEMNUNİYET SİSTEMİ</li><li>MÜŞTERİ TAKİBİ</li><li>MAİL BİLGİLENDİRME</li><li>MAİL İŞLEMLERİ</li><li>GELİŞMİŞ YÖNETİCİ PANELİ</li></ul><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://zalabahce.com/">ZALA BAHÇE</a>&nbsp;<br></p>')
INSERT [dbo].[Portfoy] ([PID], [kategori], [resim], [kime], [tarih], [süre], [aciklama]) VALUES (14, N'WEB SİTESİ', N'/Resim/8ad700df-751c-4c74-b944-33a9f4b2b6b3.PNG', N'REGNUM ASANSÖR', N'14 Ocak 2020 Salı', N'2 AY', N'<ul><li>MOBİL UYUMLU WEB SİTE TASARIMI</li><li>LOGO TASARIMI</li><li>REZERVASYON SİSTEMİ</li><li>MEMNUNİYET SİSTEMİ</li><li>MÜŞTERİ TAKİBİ</li><li>MAİL BİLGİLENDİRME</li><li>MAİL İŞLEMLERİ</li><li>GELİŞMİŞ YÖNETİCİ PANELİ</li></ul><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://regnumasansor.com/">REGNUM ASANSÖR</a><br></p>')
SET IDENTITY_INSERT [dbo].[Portfoy] OFF
/****** Object:  Table [dbo].[Hobiler]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobiler](
	[HID] [int] IDENTITY(1,1) NOT NULL,
	[hobi] [nvarchar](150) NULL,
	[icon] [nvarchar](150) NULL,
 CONSTRAINT [PK_Hobiler] PRIMARY KEY CLUSTERED 
(
	[HID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hobiler] ON
INSERT [dbo].[Hobiler] ([HID], [hobi], [icon]) VALUES (14, N'Yüzmek', N'ion-android-favorite')
INSERT [dbo].[Hobiler] ([HID], [hobi], [icon]) VALUES (15, N'Tenis', N'ion-android-favorite')
INSERT [dbo].[Hobiler] ([HID], [hobi], [icon]) VALUES (16, N'Balık Tutmak', N'ion-android-favorite')
SET IDENTITY_INSERT [dbo].[Hobiler] OFF
/****** Object:  Table [dbo].[Hizmetler]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmetler](
	[HID] [int] IDENTITY(1,1) NOT NULL,
	[icon] [nvarchar](50) NULL,
	[baslik] [nvarchar](150) NULL,
	[aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Hizmetler] PRIMARY KEY CLUSTERED 
(
	[HID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hizmetler] ON
INSERT [dbo].[Hizmetler] ([HID], [icon], [baslik], [aciklama]) VALUES (22, N'ion-android-checkbox', N'LOGO TASARIMI', NULL)
INSERT [dbo].[Hizmetler] ([HID], [icon], [baslik], [aciklama]) VALUES (25, N'ion-android-checkbox', N'SEKTÖREL TASARIMLAR', NULL)
INSERT [dbo].[Hizmetler] ([HID], [icon], [baslik], [aciklama]) VALUES (27, N'ion-android-checkbox', N'WEB TASARIM & PROGRAMLAMA', NULL)
SET IDENTITY_INSERT [dbo].[Hizmetler] OFF
/****** Object:  Table [dbo].[Hakkimda]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimda](
	[HID] [int] IDENTITY(1,1) NOT NULL,
	[pResim] [nvarchar](250) NULL,
	[hakkimda] [nvarchar](max) NULL,
	[adSoyad] [nvarchar](150) NULL,
	[dogumYili] [nvarchar](50) NULL,
	[mail] [nvarchar](150) NULL,
	[konum] [nvarchar](50) NULL,
	[cvLink] [nvarchar](150) NULL,
	[sayfaBaslik] [nvarchar](150) NULL,
 CONSTRAINT [PK_Hakkimda] PRIMARY KEY CLUSTERED 
(
	[HID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hakkimda] ON
INSERT [dbo].[Hakkimda] ([HID], [pResim], [hakkimda], [adSoyad], [dogumYili], [mail], [konum], [cvLink], [sayfaBaslik]) VALUES (1, N'/Resim/6c1beafd-0d9b-4835-9e2d-cd225d0b1cc9.png', N'<p>DENEME</p>', N'Yasin SARICA', N'1996', N'yasin-sarica@outlook.com', N'İSTANBUL/Pendik', N'/Dosyalar/sitemap.txt', N'Ben Kimim?')
SET IDENTITY_INSERT [dbo].[Hakkimda] OFF
/****** Object:  Table [dbo].[GelenMesaj]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GelenMesaj](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[adSoyad] [nvarchar](150) NULL,
	[mail] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[konu] [nvarchar](150) NULL,
	[mesaj] [nvarchar](max) NULL,
	[tarih] [nvarchar](50) NULL,
 CONSTRAINT [PK_GelenMesaj] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GelenMesaj] ON
INSERT [dbo].[GelenMesaj] ([MID], [adSoyad], [mail], [tel], [konu], [mesaj], [tarih]) VALUES (3, N'Yasin SARICA', N'yasin-sarica@outlook.com', N'05319574200', N'dfsd', N'fsdfsdf', N'19.09.2019 - 17:59')
INSERT [dbo].[GelenMesaj] ([MID], [adSoyad], [mail], [tel], [konu], [mesaj], [tarih]) VALUES (4, N'Yasin SARICA', N'yasin-sarica@outlook.com', N'05319574200', N'şikayet', N'ggffh', N'19.09.2019 - 18:01')
INSERT [dbo].[GelenMesaj] ([MID], [adSoyad], [mail], [tel], [konu], [mesaj], [tarih]) VALUES (5, N'Yasin SARICA', N'yasin-sarica@outlook.com', N'05319574200', N'deneme', N'rutytr', N'20.09.2019 - 20:55')
SET IDENTITY_INSERT [dbo].[GelenMesaj] OFF
/****** Object:  Table [dbo].[EgitimBilgi]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgitimBilgi](
	[EID] [int] IDENTITY(1,1) NOT NULL,
	[egitimTürü] [nvarchar](250) NULL,
	[bölüm] [nvarchar](150) NULL,
	[okul] [nvarchar](150) NULL,
	[yil] [nvarchar](50) NULL,
 CONSTRAINT [PK_EgitimBilgi] PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EgitimBilgi] ON
INSERT [dbo].[EgitimBilgi] ([EID], [egitimTürü], [bölüm], [okul], [yil]) VALUES (6, N'İLKOKUL', NULL, N'FATİH SULTAN MEHMET İLKÖĞRETİM OKULU', N'2002-2010')
INSERT [dbo].[EgitimBilgi] ([EID], [egitimTürü], [bölüm], [okul], [yil]) VALUES (7, N'LİSE', N'BİLGİSAYAR PROGRAMCILIĞI', N'MALTEPE ANADOLU MESLEK VE TİCARET LİSESİ', N'2010-2014')
INSERT [dbo].[EgitimBilgi] ([EID], [egitimTürü], [bölüm], [okul], [yil]) VALUES (8, N'ÜNİVERSİTE', N'BİLGİSAYAR PROGRAMCILIĞI', N'DÜZCE ÜNİVERSİTESİ', N'2016-2018')
SET IDENTITY_INSERT [dbo].[EgitimBilgi] OFF
/****** Object:  Table [dbo].[Deneyim]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deneyim](
	[DID] [int] IDENTITY(1,1) NOT NULL,
	[firmaAdi] [nvarchar](150) NULL,
	[unvan] [nvarchar](150) NULL,
	[yil] [nvarchar](150) NULL,
	[tecrübe] [nvarchar](max) NULL,
 CONSTRAINT [PK_Deneyim] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deneyim] ON
INSERT [dbo].[Deneyim] ([DID], [firmaAdi], [unvan], [yil], [tecrübe]) VALUES (6, N'YAPI KREDİ', N'STAJYER', N'2013-2014', N'Harmoni Bankacılık Yazılımı Tecrübesi')
INSERT [dbo].[Deneyim] ([DID], [firmaAdi], [unvan], [yil], [tecrübe]) VALUES (8, N'UNİBİM', N'STAJYER', N'2018-2018', N'SQL,ASP.NET,MVC,')
INSERT [dbo].[Deneyim] ([DID], [firmaAdi], [unvan], [yil], [tecrübe]) VALUES (13, N'CARIBOU COFFEE', N'BARİSTA', N'2019-2019', NULL)
SET IDENTITY_INSERT [dbo].[Deneyim] OFF
/****** Object:  Table [dbo].[blogKategori]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogKategori](
	[BKID] [int] IDENTITY(1,1) NOT NULL,
	[kategoriAdi] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_blogKategori] PRIMARY KEY CLUSTERED 
(
	[BKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blogKategori] ON
INSERT [dbo].[blogKategori] ([BKID], [kategoriAdi]) VALUES (6, N'Asp.Net MVC')
INSERT [dbo].[blogKategori] ([BKID], [kategoriAdi]) VALUES (7, N'.Net Core')
INSERT [dbo].[blogKategori] ([BKID], [kategoriAdi]) VALUES (8, N'Php')
SET IDENTITY_INSERT [dbo].[blogKategori] OFF
/****** Object:  Table [dbo].[blog]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[kategoriAd] [nvarchar](150) NULL,
	[resim] [nvarchar](250) NULL,
	[baslik] [nvarchar](150) NULL,
	[tarih] [nvarchar](250) NULL,
	[ozetaciklama] [nvarchar](max) NULL,
	[aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_blog_1] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blog] ON
SET IDENTITY_INSERT [dbo].[blog] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 11/16/2022 19:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[ka] [nvarchar](150) NULL,
	[pw] [nvarchar](150) NULL,
	[songiris] [nvarchar](150) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON
INSERT [dbo].[Admin] ([AID], [ka], [pw], [songiris]) VALUES (1, N'admin', N'1234561', N'010101')
SET IDENTITY_INSERT [dbo].[Admin] OFF
