@model IEnumerable<ECV.Models.PortfoyKategori>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">PORTFOY KATEGORİ Listeleniyor</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kategori Adı</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.PKID</td>
                            <td>@item.kategoriAdi</td>


                            <td>
                                <div class="btn-group">
                                    <a href="/Portfoy/pKategoriSil?PKID=@item.PKID" class="btn btn-danger">Sil</a>
                                    <a href="/Portfoy/pKategoriDuzenle?PKID=@item.PKID" class="btn btn-warning">Düzenle</a>
                                </div>
                            </td>



                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Kategori Adı</th>
                        <th>İşlem</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>


</div>

