
@{
    ViewBag.Title = "pKategoriDuzenle";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


@section Baslik{ PORTFOY KATEGORİ DÜZENLE }
@section sitemap{PORTFOY KATEGORİ DÜZENLE }
@section title{PORTFOY KATEGORİ DÜZENLE}
@model ECV.Models.PortfoyKategori

<div class="col-md-12">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">PORTFOY KATEGORİ DÜZENLE</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @using (Html.BeginForm("pKategoriDuzenle", "Portfoy", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
            { @Html.HiddenFor(m => m.PKID)
                @Html.AntiForgeryToken()

                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">KATEGORİ</label>
                        <input type="text" class="form-control" id="kategoriAdi" name="kategoriAdi" value="@Model.kategoriAdi">
                    </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

